.text_color{

    color: blue;
}
.text_color_false{

    color: red;
}
.background_color_false{

    background-color: greenyellow;
}
.btnSaisie{

    width: 60px;
    background-color: dodgerblue;
    border: none;
}
.caseWeek{
    background-color: #aaa;
}
.caseJourRattrapage{
    background-color: orange;
}
.caseJourFerie{
    background-color: red;
}
.caseJourFermeture{
    background-color: greenyellow;
}
.caseJourCourant{
    border: 2px red solid;
}
#mois_1{
    position: absolute;
}
#mois_2{
    position: absolute;
    margin-left: 105px;
}
#mois_3{
    position: absolute;
    margin-left: 211px;
}
#mois_4{
    position: absolute;
    margin-left: 316px;
}
#mois_5{
    position: absolute;
    margin-left: 422px;
}
#mois_6{
    position: absolute;
    margin-left: 528px;
}
#mois_7{
    position: absolute;
    margin-left: 633px;
}
#mois_8{
    position: absolute;
    margin-left: 739px;
}
#mois_9{
    position: absolute;
    margin-left: 844px;
}
#mois_10{
    position: absolute;
    margin-left: 950px;
}
#mois_11{
    position: absolute;
    margin-left: 1055px;
}
#mois_12{
    position: absolute;
    margin-left:1161px;
}
