#admin{
    position: absolute;
    width: 1000px;
    height: 650px;
    border: 1px black solid;
    margin-left:15%;
    margin-top: 3%;
    background-color: white;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;

}
#entreprise{

    position: absolute;
    width: 500px;
    height: 650px;
    box-shadow: 1px 1px 12px  #000;

}#employe{

    position: absolute;
    width: 500px;
    height: 650px;
    box-shadow: 1px 1px 12px  #000;
    margin-left: 500px;

}
#text{

    position: absolute;
    width: 500px;
    height: 50px;
    margin-top: 15px;
    text-align: center;

}#text2{
    position: absolute;
    width: 500px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
}
#jourTravail{
    position: absolute;
    margin-top: 90px;
    margin-left: 65%;
}

#jourFerie{
    position: absolute;
    margin-top:190px;
    margin-left: 65%;
}
#jourRattrapage{
    position: absolute;
    margin-top:290px;
    margin-left: 65%;
}
#jourFermeture{
    position: absolute;
    margin-top:390px;
    margin-left: 65%;
}

#textTravail{
    position: absolute;
    margin-top: 100px;
    margin-left:10%;
    width: 200px;
}

#textFerie{
    position: absolute;
    margin-top:200px;
    margin-left: 10%;
    width: 160px;
}
#textRattrapage{
    position: absolute;
    margin-top:300px;
    margin-left:10%;
    width: 200px;
}
#textFermeture{
    position: absolute;
    margin-top:400px;
    margin-left: 10%;
    width: 200px;
}

#deconnexion{
    position: absolute;
    margin-top:590px;
    margin-left: 10%;
}


#nouveauEmp{
    position: absolute;
    margin-top: 90px;
    margin-left: 65%;
}

#modifierEmp{
    position: absolute;
    margin-top:190px;
    margin-left: 65%;
}
#periodeEmp{
    position: absolute;
    margin-top:290px;
    margin-left: 65%;
}
#vacancesEmp{
    position: absolute;
    margin-top:390px;
    margin-left: 65%;
}

#calculEmp{
    position: absolute;
    margin-top:490px;
    margin-left: 65%;
}


#impressionEmp{
    position: absolute;
    margin-top:590px;
    margin-left: 9%;
}




#textNouveau{
    position: absolute;
    margin-top: 100px;
    margin-left:10%;
    width: 160px;
}

#textModifier{
    position: absolute;
    margin-top:200px;
    margin-left: 10%;
    width: 160px;
}
#textPeriode{
    position: absolute;
    margin-top:300px;
    margin-left:10%;
    width: 160px;
}
#textVacances{
    position: absolute;
    margin-top:400px;
    margin-left: 10%;
    width: 160px;
}
#textCalcul{
    position: absolute;
    margin-top:500px;
    margin-left: 10%;
    width: 160px;
}


.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}

.btnDeco{
    width: 400px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}