#content{
    position: absolute;
    width: 500px;
    height: 100%;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}

#btnRetour{
    position: absolute;
    margin-top: -40%;
    margin-left: 35%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}