#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#titre1{
    position: absolute;
    margin-top: 5%;
    margin-left: 35%;
}
#titre2{
    position: absolute;
    margin-top: 48%;
    margin-left: 35%;
}#text1{
    position: absolute;
    margin-top:15%;
    margin-left: 5%;
}
#text2{ 
    position: absolute;
    margin-top:15%;
    margin-left:31%;
}
#text3{
    position: absolute;
    margin-top:54%;
    margin-left: 5%;
}
#text4{ 
    position: absolute;
    margin-top:64%;
    margin-left: 5%;
}
#champHeureDebut{
    position: absolute;
    margin-top:54%;
    margin-left: 20%;
}
#champMinuteDebut{
    position: absolute;
    margin-top:54%;
    margin-left: 60%;
}
#champHeureFin{
    position: absolute;
    margin-top:64%;
    margin-left: 20%;
}
#champMinuteFin{
    position: absolute;
    margin-top:64%;
    margin-left: 60%;
}
#plage{
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
}
#btnAjouter{
    position: absolute;
    margin-top: 87%;
    margin-left: 20%;
}


#btnRetour{
    position: absolute;
    margin-top: 87%;
    margin-left: 50%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 5px;
}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}

