#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}

#nomSimple{
    position: absolute;
    margin-top: 3%;
    margin-left: 35%;
    text-transform:uppercase;
}

#tableau{
    position: absolute;
    margin-top: 8%;
    margin-left: 20%;
    text-transform:uppercase;
}
#titre1{
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
}
#text1{
    position: absolute;
    margin-top: 20%;
    margin-left: 25%;
}
#text2{
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
}
#text3{
    position: absolute;
    margin-top: 30%;
    margin-left: 20%;
}
#mois{
    position: absolute;
    margin-top: 20%;
    margin-left: 55%;
}
#mois1{
    position: absolute;
    margin-top: 30%;
    margin-left: 55%;
}
#employe
{
    position: absolute;
    margin-top: 20%;
    margin-left: 55%;

}
#btnApercu{
    position: absolute;
    margin-top: 35%;
    margin-left: 20%;
}
#btnRetour{
    position: absolute;
    margin-top: 35%;
    margin-left: 55%;
}#btnRetour3{
    position: absolute;
    margin-top: 2%;
}
#btnApercu2{
    position: absolute;
    margin-top: 40%;
    margin-left: 20%;
}
#btnRetour2{
    position: absolute;
    margin-top: 40%;
    margin-left: 55%;
}
#nbrJour{
    position: absolute;
    margin-top: 80%;
    margin-left: 5%;
}
#totalHeure{
    position: absolute;
    margin-top: 80%;
    margin-left: 5%; 
}
#signature1{
    position: absolute;
    margin-top: 135%;
    margin-left: 5%;
}
#signature2{
    position: absolute;
    margin-top: 135%;
    margin-left: 35%; 
}
#signature3{
    position: absolute;
    margin-top: 135%;
    margin-left: 70%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 5px;
}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}

