#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#titre1{
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
}
#jourFermeture{
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
}#titre2{
    position: absolute;
    margin-top: 70%;
    margin-left:20% ;
}

#btnAjouter{
    position: absolute;
    margin-top: 87%;
    margin-left: 20%;
}
#jourNouveauDebut{
    position: absolute;
    margin-top: 75%;
    margin-left: 40%;
}
#jourNouveauFin{
    position: absolute;
    margin-top: 80%;
    margin-left:40%;
}


#text1{
    position: absolute;
    margin-top: 75%;
    margin-left: 20%;
}
#text2{
    position: absolute;
    margin-top: 80%;
    margin-left:20%;
}


#btnRetour{
    position: absolute;
    margin-top: 87%;
    margin-left: 50%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}