#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#titre1{
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
}
#jourRattrapagesEnt{
    position: absolute;
    margin-top: 20%;
    margin-left: 30%;
}#titre2{
    position: absolute;
    margin-top: 70%;
    margin-left:20% ;
}

#btnAjouter{
    position: absolute;
    margin-top: 85%;
    margin-left: 20%;
}
#jourNouveau{
    position: absolute;
    margin-top: 75%;
    margin-left: 32%;
}


#btnRetour{
    position: absolute;
    margin-top: 85%;
    margin-left: 50%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}