#login{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#falseLogin{
    position: absolute;
    margin-top: 170px;
    margin-left: 10%;
    color:red;
}

#titre{
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
}
#text1{
    position: absolute;
    margin-top: 200px;
    margin-left: 10%;
}
#text2{
    position: absolute;
    margin-top: 240px;
    margin-left:10%;
}
#username{

    position: absolute;
    margin-top: 200px;
    margin-left: 40%;
}
#password{

    position: absolute;
    margin-top: 240px;
    margin-left: 40%;
}
#btnLogin{

    position: absolute;
    margin-top: 350px;
    margin-left:38%;

}
#loginCheck{
   position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;

}
#text3{
    position: absolute;
    margin-top: 40%;
    margin-left:30%;
}
#text4{
    position: absolute;
    margin-top: 40%;
    margin-left:40%;
}
#adminInterface{

    position: absolute;
    margin-top: 58%;
    margin-left: 31%;
}
#calendrier{

    position: absolute;
    margin-top: 50%;
    margin-left:30%;
}
#textLogin2{
    position: absolute;
    margin-top: 10%;
    margin-left:35%;
    text-transform:uppercase;
}
#textLogin1{
    position: absolute;
    margin-top: 10%;
    margin-left:33%;
    text-transform:uppercase;
}
.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.btnGrand{
    width: 200px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 8px;

}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}

