#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#titre1{
    position: absolute;
    margin-top: 15%;
    margin-left: 35%;
}
#titre2{
    position: absolute;
    margin-top:8%;
    margin-left: 35%;
}
#choixEmploye{
    position: absolute;
    margin-top: 30%;
    margin-left: 35%;
}
#btnChoix{

    position: absolute;
    margin-top: 50%;
    margin-left: 20%;
}
#btnRetour1{

    position: absolute;
    margin-top: 50%;
    margin-left: 55%;
}
#text1{
    position: absolute;
    margin-top: 16%;
    margin-left: 5%;
}
#text2{
    position: absolute;
    margin-top: 22%;
    margin-left: 5%;
}
#text3{
    position: absolute;
    margin-top: 28%;
    margin-left: 5%;
}
#text4{
    position: absolute;
    margin-top: 34%;
    margin-left: 5%;
}
#text5{
    position: absolute;
    margin-top: 40%;
    margin-left:5%;
}
#text6{
    position: absolute;
    margin-top: 46%;
    margin-left: 5%;
}
#text7{
    position: absolute;
    margin-top: 52%;
    margin-left: 5%;
}
#text8{
    position: absolute;
    margin-top: 58%;
    margin-left: 5%;
}
#text9{
    position: absolute;
    margin-top: 64%;
    margin-left: 5%;
}
#text10{
    position: absolute;
    margin-top: 70%;
    margin-left: 5%;
}
#text11{
    position: absolute;
    margin-top: 76%;
    margin-left: 5%;
}
#text12{
    position: absolute;
    margin-top: 82%;
    margin-left:5%;
}

#input1{
    position: absolute;
    margin-top: 16%;
    margin-left: 35%;
}
#input2{
    position: absolute;
    margin-top: 22%;
    margin-left: 35%;
}
#input3{
    position: absolute;
    margin-top: 28%;
    margin-left: 35%;
}
#input4{
    position: absolute;
    margin-top: 34%;
    margin-left: 35%;
}
#input5{
    position: absolute;
    margin-top: 40%;
    margin-left: 35%;
}
#input6{
    position: absolute;
    margin-top: 46%;
    margin-left: 35%;
}
#input7{
    position: absolute;
    margin-top: 52%;
    margin-left: 35%;
}
#input8{
    position: absolute;
    margin-top: 58%;
    margin-left: 35%;
}
#input9{
    position: absolute;
    margin-top: 64%;
    margin-left: 35%;
}
#input10{
    position: absolute;
    margin-top: 70%;
    margin-left: 35%;
}
#input11{
    position: absolute;
    margin-top: 76%;
    margin-left: 35%;
}
#input12{
    position: absolute;
    margin-top: 82%;
    margin-left: 35%;
}

#btnAjouter{
    position: absolute;
    margin-top: 90%;
    margin-left: 20%;
}

#btnRetour{
    position: absolute;
    margin-top: 90%;
    margin-left: 50%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 3px;

}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}

