#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#titre1{
    position: absolute;
    margin-top: 5%;
    margin-left: 35%;
}
#titre2{
    position: absolute;
    margin-top: 48%;
    margin-left: 35%;
}
#periode{
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
}
#text1{
    position: absolute;
    margin-top:15%;
    margin-left:5%;
}
#text2{
    position: absolute;
    margin-top:15%;
    margin-left: 25%;
}
#text3{
    position: absolute;
    margin-top:15%;
    margin-left: 43%;
}
#text4{
    position: absolute;
    margin-top:15%;
    margin-left: 70%;
}
#text5{
    position: absolute;
    margin-top:55%;
    margin-left: 5%;
}
#text6{
    position: absolute;
    margin-top:61%;
    margin-left:5%;
}
#text7{
    position: absolute;
    margin-top:67%;
    margin-left: 5%;
}#text8{
    position: absolute;
    margin-top:73%;
    margin-left: 5%;
}
#champDebut{
    position: absolute;
    margin-top:55%;
    margin-left: 60%;
}
#champFin{
    position: absolute;
    margin-top:61%;
    margin-left: 60%;

}
#champPourcentage{
    position: absolute;
    margin-top:67%;
    margin-left: 60%;
}
#champVacances{
    position: absolute;
    margin-top:73%;
    margin-left: 60%;
}
#choixEmploye{
    position: absolute;
    margin-top: 30%;
    margin-left: 35%;
}
#btnChoix{

    position: absolute;
    margin-top: 50%;
    margin-left: 20%;
}
#btnRetour1{

    position: absolute;
    margin-top: 50%;
    margin-left: 55%;
}
#btnAjouter{
    position: absolute;
    margin-top: 80%;
    margin-left: 20%;
}

#btnRetour{
    position: absolute;
    margin-top: 80%;
    margin-left: 50%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 3px;

}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}