#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}

#titre{
    position: absolute;
    margin-top: 30%;
    margin-left: 25%;
}
#text1{
    position: absolute;
    width: 1200px;
    height: 45px;
    margin-top: 45%;
    margin-left: 20%;
}
#text2{
    position: absolute;
    width: 1200px;
    height: 45px;
    margin-top: 50%;
    margin-left: 20%;
}
#champHeure{
    position: absolute;
    height: 45px;
    margin-top: 45%;
    margin-left: 40%;
}
#champMinute{
    position: absolute;
    height: 45px;
    margin-top: 50%;
    margin-left: 40%;
}
#btnModif{

    position: absolute;

    margin-top:70%;
    margin-left: 20%;
}
#btnRetour{
    position: absolute;

    margin-top: 70%;
    margin-left: 50%;

}
.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 5px;
}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}

