#content{
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px black solid;
    margin-left: 34%;
    margin-top: 100px;
    background-color: #FFF;
    font-family: 'Century Gothic';
    box-shadow: 1px 1px 12px  #000;
}
#titre1{
    position: absolute;
    margin-top: 5%;
    margin-left: 35%;
}
#titre2{
    position: absolute;
    margin-top:50%;
    margin-left: 35%;
}
#text1{
    position: absolute;
    margin-top:15%;
    margin-left: 20%;
}
#text2{ 
    position: absolute;
    margin-top:15%;
    margin-left: 55%;
}
#vacances{
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
}
#text3{
    position: absolute;
    margin-top:60%;
    margin-left: 20%;
}
#text4{
    position: absolute;
    margin-top:66%;
    margin-left: 20%;
}
#champDebut{
    position: absolute;
    margin-top:60%;
    margin-left: 40%;
}#champFin{
    position: absolute;
    margin-top:66%;
    margin-left: 40%;
}
#choixEmploye{
    position: absolute;
    margin-top: 30%;
    margin-left: 35%;
}
#btnChoix{

    position: absolute;
    margin-top: 50%;
    margin-left: 20%;
}
#btnRetour1{

    position: absolute;
    margin-top: 50%;
    margin-left: 55%;
}
#btnAjouter{
    position: absolute;
    margin-top: 80%;
    margin-left: 25%;
}


#btnRetour{
    position: absolute;
    margin-top: 80%;
    margin-left: 55%;
}

.btn{
    width: 120px;
    height: 45px;
    border-radius:8px;
    border-color: black;
}
.input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 3px;

}
.input:focus{
    border: solid 1px #000;
    box-shadow: 0 0 5px 1px #000;
}